
.image {
  position: relative;
  height: auto;
  margin: 0;
  padding-bottom: 79.4281%;
  border-radius: 8px;
  background: #d9d9d9;
  overflow: hidden;
}

// .smallImg {
//   position: relative;
//   width: 20px !important;
//   height: 20px;
//   margin: 0 4px 0 0;
//   border-radius: 4px;
//   background: #d9d9d9;
//   overflow: hidden;
// }

.inline {
  display: flex;
  flex: 4px;
  align-items: center;
}

.noMargin {
  margin: 0 !important;
}

// .line {
//   position: relative;
//   height: 13px;
//   margin: 10px 0;
//   border-radius: 8px;
//   background: #d9d9d9;
//   overflow: hidden;

//   &.smallLine {
//     width: 100px;
//   }
// }

// notification card
.notificationCard {
  height: 113px;
}

// thumbnail card
.thumbnailCard {
  width: 100%;
}

// lists
.lists {
  padding: 1rem 1rem 0;
}
.horizontalLists {
  > span {
    display: flex;
    gap: 0.5rem;
  }
  br {
    display: none;
  }
}

// filter
.filter {
  width: 100%;
  padding: 0 1rem 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--neutral20-color);
  }
}

// member
.member {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
}

// .smallImg::before,
// .imaged::before,
// .line::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(
//     to right,
//     #d9d9d9 0%,
//     #888b94 20%,
//     #d9d9d9 40%,
//     #d9d9d9 100%
//   );
//   background-size: 450px 400px;
//   background-repeat: no-repeat;
//   animation: shimmer 1.4s linear infinite;
// }

// @keyframes shimmer {
//   0% {
//     background-position: -450px 0px;
//   }
//   100% {
//     background-position: 450px 0px;
//   }
// }
