.wardrobeContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;

    .wardrobe {
        min-height: 620px;
        border-radius: 24px;
        position: relative;
        box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        .imageView{
            width: calc(100%);
            /* height: calc(100% - 114px); */
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 50%;
            }
        }

        .title {
            position: absolute;
            top: 20px;
            text-align: center;
            font-size: 30px;
            font-weight: 600;

        }

        .buttons {
            position: absolute;
            left: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .roundbox {
                width: 72px;
                height: 138px;
                padding: 6px;
                gap: 6px;
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);

                .rounds {
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    opacity: .6;
                    transition: all .4s ease-in-out;

                    &.bordered {
                        opacity: 1;
                        border: 1px solid #7345b2;
                        background-color: rgb(115 69 178 / 20%);

                    }
                }

            }
        }

        .shadesBox {
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 0 20px;

            h4 {
                font-size: 18px;
                font-weight: 700;
            }

            .shades {
                display: flex;
                width: 100%;
                overflow-x: auto;
                scroll-behavior: smooth;
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;

                /* Firefox */
                &::-webkit-scrollbar {
                    display: none;
                }

                .shadeItem {
                    min-width: calc(16.66% - 4px);
                    margin-right: 5px;
                    border-top-right-radius: 12px;
                    overflow: hidden;
                    border: 1px solid #CCCCCC99;
                    cursor: pointer;

                    .shadeColor {
                        min-width: 20px;
                        height: 70px;
                        background-color: #7345b2;
                    }

                    .shadeTitle {
                        font-size: 12px;
                        font-weight: 700;
                        padding: 4px 0;
                    }
                }
            }
        }
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 15px;

        .button {
            padding: 9px 40px;
            font-size: 13px;
            font-weight: 500;
            color: #7345b2;
            line-height: 26px;
            cursor: pointer;
            border-radius: 80px;
            border: 1px solid #7345b2;
        }
    }

    .rightBox {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .doorPanel {
            display: flex;
            gap: 15px;
            justify-content: center;

            .doorPanelItem {
                width: 200px;
                height: 200px;
                border-radius: 8px;
                box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
                padding: 15px;
                cursor: pointer;
                opacity: .6;

                &.bordered {
                    opacity: 1;
                    border: 1px solid #7345b2;
                    background-color: rgb(115 69 178 / 20%);
                }

            }
        }

        .label {
            cursor: pointer;
            width: 140px;
            height: 48px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
            border: 1px solid transparent;

            &:has(.input:checked) {
                border: 1px solid #7345b2;
                background-color: rgb(115 69 178 / 10%);
            }

            &:hover {
                border: 1px solid #7345b2;
                background-color: rgb(115 69 178 / 10%);

                .input {
                    accent-color: #7345b2;
                }
            }

            .input {
                margin-right: 15px;
                accent-color: #7345b2;
            }
        }

        .inputBox {
            position: relative;

            .inputLabel {
                position: absolute;
                top: -7px;
                left: 8px;
                font-size: 10px;
                font-weight: 600;
                background: white;
                padding: 0 5px;
            }

            .inputCountry,
            .input {
                height: 50px;
                padding: 10px;
                font-size: 18px;
                font-weight: 500;
                color: #000;
                width: 100%;
                border: 1.5px solid black;
                border-radius: 8px;
            }

            .inputCountry {
                padding: 10px 10px 10px 80px;
            }

            .countryCode {
                position: absolute;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                border-right: 1px solid #b0b2b3;
                width: 75px;
                margin: 10px 0;
            }
        }

        .error {
            color: red;
            font-size: 12px;
            font-weight: 500;
            text-align: left;
            margin: 4px;
        }

        .terms {
            margin: 20px 0;
            text-align: left;
            font-size: 18px;
            color: rgb(0 0 0 / 50%);
        }
    }

    .packageRightBox {
        text-align: left;

        .packageTitle {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;

        }

        .packageDescription {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .packagePrice {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .buttonContainer {
            gap: 25px;
            margin-bottom: 30px;

            .button {
                width: 50%;
            }
        }

        .specifications {
            padding: 30px;
            border: 1px solid #D6D6D6;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 30px;

            .specificationItem {
                display: flex;

                .specificationLabel {
                    width: 50%;
                    font-size: 18px;
                    font-weight: 700;

                }

                .specificationValue {
                    width: 50%;
                    font-size: 18px;
                    font-weight: 400;

                }
            }
        }

        .terms {
            font-size: 14px;
            font-weight: 400;
        }
    }
}